{
  "overrides": [
    {
      "files": ["*.tex"],
      "options": {
        "plugins": ["prettier-plugin-latex"]
      }
    },
    {
      "files": ["*.qmd", "*.ipynb"],
      "options": {
        "parser": "markdown"
      }
    }
  ]
}
